<h1> Hello worlfd </h1>
<form>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- Signin -->
    <div id="login" style="display: none;">
      <div class="u-shadow-v35 g-bg-white rounded g-px-40 g-py-50">
        <div class="field">
          <div class="g-mb-20">
            <label class="g-color-text-light-v1 g-font-weight-500">Email</label>
            <div class="input-group">
                          <span class="input-group-prepend g-width-50 g-brd-secondary-light-v2 g-bg-secondary g-rounded-right-0">
                            <div class="input-group-text justify-content-center w-100 g-bg-secondary g-brd-secondary-light-v2">
                              <i class="icon-education-166 u-line-icon-pro"></i>
                            </div>
                          </span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-left-0 g-px-20 g-py-12", placeholder: "readsaver@email.com" %>
            </div>
          </div>
        </div>

        <div class="g-mb-20">
          <div class="field">
            <label class="g-color-text-light-v1 g-font-weight-500">Password</label>
            <div class="input-group">
                          <span class="input-group-prepend g-width-50 g-brd-secondary-light-v2 g-bg-secondary g-rounded-right-0">
                            <div class="input-group-text justify-content-center w-100 g-bg-secondary g-brd-secondary-light-v2">
                              <i class="icon-finance-135 u-line-icon-pro"></i>
                            </div>
                          </span>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-left-0 g-px-20 g-py-12", placeholder: "*********" %>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <a class="g-color-text-light-v1 g-font-size-default" id="forgot-password-link" href="#!">Forgot
            Password?</a>
          <div class="actions">

          </div>
          <div class="actions">
            <%= f.submit "Log in", class: "btn u-shadow-v33 g-color-white g-bg-primary g-bg-main--hover g-font-size-default rounded g-px-25 g-py-7" %>
          </div>
        </div>


        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>
      <div class="text-center g-pt-30">
        <p class="g-color-text-light-v1 g-font-size-default mb-0">Do not have an account?
          <a class="g-font-size-default" id="login-link" href="#!">Create Account</a></p>
      </div>
      <!-- End Signin -->
    </div>
  <% end %>
  </form>


